<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <!--
   <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    -->
    <script src="controller.js"></script>
    <link type="stylesheet" src="myCSS.css">
    <title>prefix tree</title>
  </head>
  <body>
  <div style="display:none" class="notific" id="notific"><b id="new-word"></b> was added!</div>

  <form type="" id="add-form" action="/add" method="GET">
      <input type="text" name="word" id="add-text-field">
      <input id="add" type="submit" value="add" class="btn">
  </form>
  <form id="list-form" action="/list" method="GET">
    <input type="text" name="pref" id="list-text-field">
    <input id="list" type="submit" value="list" class="btn">
  </form>
  <div id="list-output"></div>
  <input id="write" type="button" value="write">
  <input id="write-zip" type="button" value="write zip">
  <input id="read" type="button" value="read">
  <input id="read-zip" type="button" value="read zip">
</body>